/*tela de inicio */
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.join {
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;  
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;   
}
.text {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    font-weight: 900;
    font-size: 40px;
    color: #ffc400;
    font-family: 'Roboto';
}
.slogan {
    font-weight: bold;
    font-size: 20px;
    color: black; 
    font-family: 'Roboto';  
}
.logo {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}
.logo img {
    width: 30%;
    height: 300px;
}
.btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-acessar {
    cursor: pointer;
    font-size: 18px;
    background-color: #ffc400;
    height: 40px;
    width: 35%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ffc400;
}
.btn-cadastrar {
    cursor: pointer;
    font-size: 18px;
    background-color: #ffc400;
    height: 40px;
    width: 35%;
    border-radius: 8px;
    border: 1px solid #ffc400;
}
.sec {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffc400;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: #ffc400;
}

.nav-bar {
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    border-radius: 50px !important;
}

.nav-search {
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 4px;
    background-color: #fff;
}

.input-group > input {
    border: none !important;
    padding: 10px 20px;
    width: 80%;
    background-color: transparent !important;
}

.input-group > input:focus {
    border: none !important;
    outline: none !important;
}

.input-group > button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;

}

.nav-icons {
    display: flex;
    justify-content: right;
    gap: 35px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
    align-items: center;
}


.anuncio {
    margin: 100px;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.anuncio img {
    width: 20%;
    height: 200px;
}
.produtros {
    margin: 100px;
    width: 80%;
    height: 250px;
    display: flex;
    justify-content: space-between;
}
.border-produto {
    width: 10%;
    height: 150px;
   /* border: 4px solid #ffc400;*/
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973); 

}
/*tela da cateoria lapis*/
.product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.product-item {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973); 
    
}
.img-lapis {
    width: 50%;
}
.img-lapis  img {
    width: 100%;
    height: 600px;
}
.description-lapis {
    margin: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 5px;
}
.product-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.product-price {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.btns-de-categoria {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.btn-adicionar-ao-carrinho {
    background-color: #ffc400;
    border: 1px solid #ffc400;
    width: 35%;
    height: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    
}
.btn-comprar-agora {
    height: 40px;
    width: 35%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #03a9f4;
    border:  1px solid #03a9f4;
    font-size: 18px;
}
/* tela de cadastro*/
.body {
    width: 100%;
   /* background-color: #DCDCDC; */
   background-color: #fff;  
}
.container {
    margin: 50px auto;
    width: 60%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973); 
}
.img {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-cadastro {
    font-family: 'roboto';
    font-size: 26px;
}
.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
}
/* input {
    height: 35px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #80d8ff;
} */
.btns-cadastro {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 1rem;
}
.btn-enviar-cadastro {
    font-size: 18px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    background-color: #03a9f4;
    border: 1px solid #03a9f4;
}
.btn-enviar-cadastro:hover {
    opacity: 0.6;
}
.btn-limpar-cadastro {
    font-size: 18px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    background-color: #ffc400;
    border: 1px solid #ffc400;
}
.btn-limpar-cadastro:hover {
    opacity: 0.6;
}
.btn-cancelar-cadastro {
    font-size: 18px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    border: 1px solid #ec407a;
    background-color: #ec407a;
}
.btn-cancelar-cadastro:hover {
    opacity: 0.6;
}
/* tela de endereço*/
.cotainer {
    margin: auto;
    margin-top: 1rem;
    width: 80%;
    font-size: 24px;
    font-family: 'roboto';
    display: flex;
    height: 870px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973); 
    
}
.form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 750px;
   /* align-items: center;*/
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.btn-endereco {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 1rem;
}
.btn-endereco-enviar {
    cursor: pointer;
    width: 50%;
    height: 40px;
    background-color: #03a9f4;
    font-size: 20px;
    border: 1px solid #03a9f4;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.btn-endereco-enviar:hover,.btn-endereco-limpar:hover {
    opacity: 0.6;
}


.btn-endereco-limpar {
    cursor: pointer;
    width: 50%;
    height: 40px;
    background-color: #ffc400;
    font-size: 20px;
    border: 1px solid #ffc400;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* tela trabalhe conosco convencendo o cliente*/

.work-papelaria {
    margin: 50px auto;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-papelaria p {
    font-size: 24px;
    font-family: "Roboto";
}
.work-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards {
    margin: auto;
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /*box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);*/

}
.descrição {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);

    
}
.descrição p {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 22px;
    font-family: "Roboto";
}
.porque {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);

}
.porque p {
    width: 80%;
    font-size: 20px;
    font-family: "Roboto";

}
.funciona {
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973); 
    justify-content: center;
    align-items: center;
}
.funciona p {
    width: 70%;
    display: flex;
    font-size: 22px;
    font-family: "Roboto";
}
.btn-trabalho {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.btn-work {
    cursor: pointer;
    height: 45px;
    width: 30%;
    font-size: 24px;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    border-radius: 8px;
}
.btn-work:hover {
    opacity: 0.6;
}
/*tela de trabalho conosco cadastro*/
.mai {
    margin: 40px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto {
    width: 80%;
}


.cotainer-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
}
.border-form-papelaria-cadastro {
    width: 100%;
    height: 800px;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.form-papelaria-cadastro {
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 0.80rem;
    font-size: 20px;
}
.btns-papelaria {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.btn-papelaria-voltar {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    font-size: 20px;
    border-radius: 15px;
}
.btn-papelaria-salvar {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: #03a9f4;
    border:  1px solid #03a9f4;
    font-size: 20px;
    border-radius: 15px;
}
.btn-papelaria-voltar:hover {
    opacity:0.6;
}
.btn-papelaria-salvar:hover {
    opacity: 0.6;
}
/* segunda etapa*/
.item {
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-form-papelaria-item {
    width: 80%;
    height: 800px;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-papelaria-item {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.btn-voltar {
    width: 100%;
    background-color: #ffc400;
    border-radius: 8px;
    border: 1px solid #ffc400;
    height: 40px;
    font-size: 20px;
}
.btn-salvar-item {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: #03a9f4;
    border:  1px solid #03a9f4;
    font-size: 20px;
    border-radius: 8px;
}
label{
    font-size: 24px;
    font-family: "Roboto";
    
}
/*conta*/
.container-conta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.input-conta {
    height: 40px;
    border:1px solid #fff;
    border-bottom:1px solid #ffc400;
}
.input-conta:hover {
    border: 1px solid #ffc400;
}
.border-conta {
    margin: 50px;
    width: 80%;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-conta {
    margin: 20px;
    padding: 20px;
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 24px;
    
}
.btns-conta {
    display: flex;
    width: 100%;
    gap: 2rem!important;
}


.btn-historico-conta {
    width: 100%;
    background-color: #ffc400;
    border-radius: 8px;
    border: 1px solid #ffc400;
    height: 40px;
    font-size: 20px;
}
.btn-salvar-conta {
    width: 100%;
    background-color: #03a9f4;
    border-radius: 8px;
    border: 1px solid #03a9f4;
    height: 40px;
    font-size: 20px;

}
.btn-excluir-conta {
    width: 100%;
    background-color: #ec407a;
    border-radius: 8px;
    border: 1px solid #ec407a;
    height: 40px;
    font-size: 20px;


}
/* tela das escolas*/
.container-school {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   /* background-color: #fff;*/
}
.list-card {
    margin: 50px;
    width: 70%;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

.list-school {
    margin: 50px!important;
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column!important;
    justify-content: center;
    gap: 1rem;
    font-size: 24px;
     padding: 0;
     margin: 0;

}

.btn-school  {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.input-list {
    width: 100%;
    height: 40px;
    border: 1px solid #ffc400;
}
.btn-acessar-lista {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 40px;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    font-size: 20px;
    border-radius: 8px;
}
.btn-cadastrar-school {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 40px;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    font-size: 20px;
    border-radius: 8px;
}
/* carrinho*/
.principal {
    margin: 50px auto;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}
.btn-papelaria-voltar {
    width: 100%;
}
.btn-voltar-carrinho {
    width: 30%;
    height: 40px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #fff;

}
.container-carrinho {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.produto {
    border:  1px solid #80d8ff;
    width: 50%;
    
}
.valor {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #03a9f4;
}
.input-carrinho {
    width: 7%;
    border: 1px solid #ffc400;
}
.btn-endereco-entrega {
    width: 30%;
    height: 40px;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    border-radius: 8px;
    font-size: 20px;
}
.btn-pagamento-pix {
    width: 30%;
    height: 40px;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    border-radius: 8px;
    font-size: 20px;
}
.btn-pagamento-cartao {
    width: 30%;
    height: 40px;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    border-radius: 8px;
    font-size: 20px;
}
.btn-finalizar-compra {
    width: 30%;
    height: 40px;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    border-radius: 8px;
    font-size: 20px;
}
/* tela de pagamento */
.card-border-pag {
    display: flex;
    width: 95%;
    gap: 2rem;
}
.produtos-selecionados {
    width: 100%;
    height: 600px;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973); 
    display: flex;
    flex-direction: column;

}
.card-pagamento {
   width: 100%;
   box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973); 
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

}
.forma-de-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.pagamento-cartao {
    width: 100%;
    height: 40px;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    border-radius: 8px;
    font-size: 20px;

}
.pagamento-pix {
    width: 100%;
    height: 40px;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    border-radius: 8px;
    font-size: 20px;

}
.form-pagamento {
    width: 60% ;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    margin: 150px ;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
  
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #333;
    width: 50%;
    text-align: center;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
  
.close:hover {
    color: black;
}