.join {
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.main {
    margin: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    
}
.text {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    font-weight: 900;
    font-size: 40px;
    color: #ffc400;
    font-family: 'Open Sans';
}
.slogan {
    font-weight: bold;
    font-size: 20px;
    color: black; 
    font-family: 'Roboto';  
}
.logo {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}
.logo img {
    width: 30%;
    height: 320px;
}
.btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.btn-acessar {
    cursor: pointer;
    font-size: 18px;
    background-color: #ffc400;
    height: 40px;
    width: 35%;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #ffc400;
}
.btn-cadastrar {
    cursor: pointer;
    font-size: 18px;
    background-color: #ffc400;
    height: 40px;
    width: 35%;
    border-radius: 15px;
    border: 1px solid #ffc400;
}
.sec {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffc400;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: #ffc400;

}
/*tela de inicio */
body {
    margin: 0;
}
.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main {
    width: 100%;
}
.anuncio {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.anuncio img {
    width: 50%;
    height: 300px;
}
/* tela de cadastro*/
.body {
    width: 100%;
   /* background-color: #DCDCDC; */
   background-color: #fff;
   
}
.container {
    margin: 50px auto;
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(242, 27, 13, 0.32);
    
}
.img {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-cadastro {
    font-family: 'roboto';
    font-size: 26px;
}
.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
}
input {
    height: 35px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #80d8ff;

}
.btns-cadastro {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 1rem;
}
.btn-enviar-cadastro {
    cursor: pointer;
    height: 30px;
    width: 100%;
    font-size: 16px;
    background-color: #03a9f4;
    border: 1px solid #03a9f4;
    

}
.btn-enviar-cadastro:hover {
    opacity: 0.6;
}
.btn-limpar-cadastro {
    cursor: pointer;
    height: 30px;
    width: 100%;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    

}
.btn-limpar-cadastro:hover {
    opacity: 0.6;
}
.btn-cancelar-cadastro {
    cursor: pointer;
    width: 100%;
    height: 30px;
    background-color: #ffc400;
    border: 1px solid #ffc400;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);

}
.btn-cancelar-cadastro:hover {
    opacity: 0.6;
}