:root{
    --cor-principal: #ffc400;
    --cor-secundaria: #03a9f4;
    --cor-terceirizada: #ec407a;
    --fonte-titulo : 1.3rem;
    --fonte-familia: 'roboto';
    --cor-preta:black;
	--cor-branca:#fff;
	--cor-site:#ffc400;
	--cor-bordas:rgb(194, 187, 187);
	--cor-fundo:#fafafa;
	--cor-rodape:#f5f5f5;
	--font-category:Arial, Helvetica, sans-serif;
}

/*tela de inicio */

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.join {
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 1.5rem;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.text {
    /* height: 150px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    font-weight: 900;
    font-size: 2rem;
    color: var(--cor-principal);
    font-family: var(--fonte-familia);
}
.slogan {
    font-weight: bold;
    /*font-size: 20px;*/
    color: black;
    font-family: var(--fonte-familia);
}
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo img {
    max-width: 100%;
    height: auto;
}
.btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btns button{
    font-size: 1.2rem;
    cursor: pointer;
    height: 40px;
    width: 35%;
    padding: 5px;
    border-radius: 8px;
}

.btn-acessar {
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    color: #000;

}
.btn-cadastrar {
    border: 1px solid var(--cor-principal);;
    color: #000
}
.sec {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-principal);
}
/*   */
@media only screen and (max-width: 768px) {
    .btns button {
        width: 100%;
    }
    .slogan {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1rem;
        font-weight: 200;
        align-items: center;
        text-justify: auto;
    }
}
.header {
    width: 100%;
    height: auto;
   /*  display: flex;
    flex-direction: row; */
    background-color: var(--cor-principal);
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.nav-bar {
   /*  width: 100%; */
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .nav-bar {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
     }
}

.nav-logo{
    height: auto;
    border-radius: 50px !important;
}
/* .nav-search { 
    display: flex;
    align-items: center;
} */
.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; 
    width: 300px;
    max-width: 100%;
    border-radius: 4px;
    background-color: #fff;
}
.list-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    /* font-size: 16px; */
}
.input-group > input {
    border: none !important;
    padding: 10px 20px;
    width: 80%;
    background-color: transparent !important;
}

.input-group > input:focus {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.input-group > button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.nav-icons {
    display: flex;
    justify-content: right;
    gap: 35px;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
    align-items: center;
}
.anuncio {
    width: 100%;
    height:auto;
   
}
.anuncio img {
    width: 100%;
    /* max-width: 100%; */
    height: auto;
    display: block;
    margin: auto;cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.produtros {
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
    height:auto;
    display: flex;
    justify-content: space-around;
}
.border-produto {
    width: 100px;
    height:100px;
   /* border: 4px solid var(--cor-principal);*/
    border-radius: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);

}
@media only screen and (max-width: 768px) {
    .produtros {
        max-width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .border-produto {
        width: 50px;
        height: 65px;
    }
}
/*css samuel*/

.Mensage{
    margin-bottom: 50px;
    padding: 10px 10px 0px  10px;
    font-size: 20px;
    font-family:'roboto';
    text-align: center;
}
.listaze-produc{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;

}
.card {
    width: 100%;
    margin: auto;
    padding: auto;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-branca);

}
.card:hover{
    box-shadow: 0 0 7px rgba(242, 208, 13, 0.973);
}

.card img {
    display: block;
    width: 150px;
    height: auto;
    object-fit: cover;
}

.card .name-produt{
    font-family: var(--font-category);
    font-weight: bold;
    margin-top: 10px;
    font-size: 1rem;
}
.price{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.card .price {
    font-size: 1.5rem;
    margin: 10px;
    font-weight: bold;
}
.card .price del{
    font-weight: 100;
    margin-left: 5px;
    font-size: 0.9rem;
}
.card .buttonS {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color:var(--cor-site);
    color: var(--cor-branca);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none
}

.rodape {
    background-color: #cdcd;
    padding: 40px 0;
    margin-top:50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

.rodape h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }

.infor-list {
      margin: 0;
      padding: 0;
    }

.link-infor{
        color: #333;
        text-decoration: none;
        list-style: none;
  }
.link-infor:hover {
    color: var(--cor-principal);
}
.fab fa-facebook
.fab fa-twitter
.fab fa-instagram {
    margin-right: 10px;
    font-size: 18px;
    color: #333;
  }
.rodape p {
    /* font-size: 14px; */
    margin-top: 20px;
    text-align: center;
}
.caixa {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.col-md-4 {
    flex-basis: calc(33.33% - 30px);
    margin-bottom: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-md-12{
    margin-top: 25px;
}
/*  responsivo */
@media only screen  and (max-width: 768px )  {
  
  .row {
    display: flex;
    flex-direction: column;
  }
}

/*tela da cateoria lapis*/
.product-list {
    display: flex;
    flex-direction: column!important;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.product-item {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
}
.img-lapis {
    width: 50%;
}

.img-lapis  img {
    width: 100%;
    height: auto;
}

.description-lapis {
    margin: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 5px;
}
.product-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.product-price {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.btns-de-categoria {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.btn-adicionar-ao-carrinho {
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    width: 35%;
    height: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    /* font-size: 18px; */


}
.btn-comprar-agora {
    height: 40px;
    width: 35%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria);
    border:  1px solid var(--cor-secundaria);
    /* font-size: 18px; */
    color: #000;
}
@media only screen and (max-width: 768px) {
    .main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-list {
        max-width: 100%;
        display: flex;
        align-items: center;
    }
    .product-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btns-de-categoria {
        width: 100%;
    }
    .btn-adicionar-ao-carrinho {
        width: 100%;
    }
    .btn-comprar-agora {
        width: 100%;
    }
}
/* tela de cadastro*/
.body {
    width: 100%;
   /* background-color: #DCDCDC; */
   background-color: #fff;
}
.container {
    margin: 50px auto;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
}
.img {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
}
/* input {
    height: 35px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #80d8ff;
} */
.btns-cadastro {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 1rem;
}
.btn-enviar-cadastro {
    font-weight: 200;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    color: #000;
}
.btn-enviar-cadastro:hover {
    opacity: 0.6;
}
.btn-limpar-cadastro {
    /* font-size: 18px; */
    font-weight: 200;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    color: #000;
}
.btn-limpar-cadastro:hover {
    opacity: 0.6;
}
.btn-cancelar-cadastro {
    /* font-size: 18px; */
    font-weight: 200;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--cor-terceirizada);
    background-color: var(--cor-terceirizada);
    color: #000;
}
.btn-cancelar-cadastro:hover {
    opacity: 0.6;
}
@media only screen and (max-width: 768px) {
    .btns-cadastro {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .btn-cancelar-cadastro {
        max-width: 100%;
    }
    .btn-limpar-cadastro {
        max-width: 100%;
    }

    .btn-enviar-cadastro {
        max-width: 100%;
    }
}
/* tela de endereço*/
.cotainer {
    margin: auto;
    margin-top: 1rem;
    width: 80%;
    font-size: 1.2rem;
    font-family: var(--fonte-familia);
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
}
.form {
    /* font-size: 20px; */
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
   /* align-items: center;*/
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.btn-endereco {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 1rem;
}
.btn-endereco-enviar {
    font-weight: 200;
    cursor: pointer;
    width: 50%;
    height: 40px;
    background-color: var(--cor-secundaria);
    /* font-size: 20px; */
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;

}
.btn-endereco-enviar:hover,.btn-endereco-limpar:hover {
    opacity: 0.6;
}
.btn-endereco-limpar {
    font-weight: 200;
    cursor: pointer;
    width: 50%;
    height: 40px;
    background-color: var(--cor-principal);
    /* font-size: 20px; */
    border: 1px solid var(--cor-principal);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

/* tela trabalhe conosco convencendo o cliente*/

.work-papelaria {
    margin: 50px auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-papelaria p {
    font-size: 1.2rem;
    font-family: "Roboto";
}
.work-title {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards {
    margin: auto;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /*box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);*/
}
.descrição {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
}
.descrição p {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: "Roboto";
}
.porque {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);

}
.porque p {
    width: 80%;
    /* font-size: 20px; */
    font-family: "Roboto";

}
.funciona {
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
    justify-content: center;
    align-items: center;
}
.funciona p {
    width: 70%;
    display: flex;
    /* font-size: 22px; */
    font-family: "Roboto";
}
.btn-trabalho {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.gatilho {
    width: 80%;
}
.btn-work {
    cursor: pointer;
    height: 45px;
    width: 30%;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 8px;
    color: #000;
}
.btn-work:hover {
    opacity: 0.6;
}
@media only screen and (max-width: 768px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
    }
    .descrição {
        width: 100%;
    }
    .porque {
        width: 100%;
    }
    .funciona {
        width: 100%;
        height: auto;
    }
    .gatilho {
        text-justify: auto;
    }
    .btn-work {
        width: 100%;
    }

}
/*tela de trabalho conosco cadastro*/
.mai {
    margin: 40px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto {
    width: 80%;
}
.cotainer-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
}
.border-form-papelaria-cadastro {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
}
.form-papelaria-cadastro {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 0.80rem;
}
.input-conta::placeholder {
    color: var(--cor-principal);
    display: flex;
    align-items: flex-end;
}
.btns-papelaria {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.btn-papelaria-voltar {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 8px;
    color: #000;
}
.btn-papelaria-salvar-enviar {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: var(--cor-secundaria);
    border:  1px solid var(--cor-secundaria);
    border-radius: 8px;
    color: #000;
}
.btn-papelaria-voltar:hover {
    opacity:0.6;
}
.btn-papelaria-salvar-enviar:hover {
    opacity: 0.6;
}
/* segunda etapa*/
.item {
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-form-papelaria-item {
    width: 80%;
    height: auto;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-papelaria-item {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.btn-voltar {
    width: 100%;
    background-color: var(--cor-principal);
    border-radius: 8px;
    border: 1px solid var(--cor-principal);
    height: 40px;
    color: #000;
    cursor: pointer;
}
.btn-salvar-item {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: var(--cor-secundaria);
    border:  1px solid var(--cor-secundaria);
    border-radius: 8px;
    color: #000;
}
label{
    font-family: "Roboto";
}
/*conta*/
.container-conta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input-conta {
    height: 40px;
    border:1px solid #fff;
    border-bottom:1px solid var(--cor-principal);
}
.input-conta:hover {
    border: 1px solid var(--cor-principal);
}
.border-conta {
    margin: 50px;
    width: 80%;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-conta {
    margin: 20px;
    padding: 20px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}
.btns-conta {
    display: flex;
    width: 100%;
    gap: 1rem!important;
}
.btn-historico-conta {
    width: 100%;
    background-color: var(--cor-principal);
    border-radius: 8px;
    border: 1px solid var(--cor-principal);
    height: 40px;
    /* font-size: 20px; */
    color: #000;
}
.btn-salvar-conta {
    width: 100%;
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    border: 1px solid var(--cor-secundaria);
    height: 40px;
    /* font-size: 20px; */
    color: #000;
}
.btn-excluir-conta {
    width: 100%;
    background-color: var(--cor-terceirizada);
    border-radius: 8px;
    border: 1px solid var(--cor-terceirizada);
    height: 40px;
    /* font-size: 20px; */
    color: #000;
}
/* responsivo */
@media only screen and (max-width: 768px) {
    .btns-conta {
        display: flex;
        flex-direction: column;
    }

    .btn-historico-conta {
       width: 100%;
    }
    .btn-salvar-conta {
       width: 100%;

    }
    .btn-excluir-conta {
       width: 100%;

    }
}
/* tela das escolas*/
.container-school {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   /* background-color: #fff;*/
}
.list-card {
    margin: 50px;
    width: 70%;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list-school {
    margin: 50px!important;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column!important;
    justify-content: center;
    gap: 1rem;
    /* font-size: 24px; */
     padding: 0;
     margin: 0;
}

.btn-school  {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.input-list {
    width: 100%;
    height: 40px;
    border: 1px solid var(--cor-principal);
}
.btn-acessar-lista {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 40px;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    /* font-size: 20px; */
    border-radius: 8px;
    color: #000;
}
.btn-cadastrar-school {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 40px;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    /* font-size: 20px; */
    border-radius: 8px;
    color: #000;
}
@media only screen and (max-width: 768px) {
    .list-card {
        width: 90%;
    }
    .list-school {
        width: 100%;
    }
    .btn-school {
        width: 100%;
    }
    .btn-acessar-lista {
        width: 80%;
    }
    .btn-cadastrar-school {
        width: 80%;
    }
}

/* carrinho */
.container-carrinho {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    
}
.carrinhoLista {
    width: 90%;
    height: auto;
    padding: 25px;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);

}
.quantify-value {
    width: 90%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
}

.btn-pagar-conta {
    height: 40px;
    width: 30%;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    color: #000;
}
.principal {
    margin: 50px auto;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.valor {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--cor-secundaria);
}
.input-carrinho {
    width: 7%;
    border: 1px solid var(--cor-principal);
}
.btn-endereco-entrega {
    width: 30%;
    height: 40px;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 8px;
    color: #000;
    /* font-size: 20px; */
}
.btn-pagamento-pix {
    width: 30%;
    height: 40px;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 8px;
    color: #000;
    /* font-size: 20px; */
}
.btn-pagamento-cartao {
    width: 30%;
    height: 40px;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 8px;
    /* font-size: 20px; */
}
.btn-finalizar-compra {
    width: 30%;
    height: 40px;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 8px;
    color: #000;
    /* font-size: 20px; */
}
@media only screen and (max-width: 768px) {
    .container-carrinho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn-pagar-conta {
        width: 100%;
    }

}
/* tela de pagamento */
.card-border-pag {
    display: flex;
    width: 90%;
    gap: 2rem;
    padding: 10px;
}
@media only screen and (max-width: 768px) {
    .card-border-pag {
        display: flex;
        flex-direction: column;
    }
}
.produtos-selecionados {
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
    display: flex;
    flex-direction: column;
}
.card-pagamento {
   width: 100%;
   padding: 10px;
   margin: 10px;
   box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}
.forma-de-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.pagamento-cartao {
    width: 100%;
    height: 40px;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 8px;
    color: #000;
    /* font-size: 20px; */
}
.pagamento-pix {
    width: 100%;
    height: 40px;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 8px;
    color: #000;
    /* font-size: 20px; */

}
.form-pagamento {
    width: 60% ;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    margin: 150px ;
    padding: 20px;
    box-shadow: 0px 0px 16px 0px rgba(242, 208, 13, 0.973);
}
.menu {
    display: flex;
    flex-direction: column;
}
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #333;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.close {
    color: #ec407a;
    float: right;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--cor-terciaria);
}
.close:hover {
    color: red;
    background-color: var(--cor-terciaria);
}
.sucesso {
    background-color: var(--cor-principal);
}
/*  responsivo */
@media only screen  and (max-width: 768px )  {
    .list-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 15px;
        width: 100%;
        background-color: #333;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin-right: 0;
        margin-bottom: 10px;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
}


/* Estilos do modal em forma de card */

  .modal-card {
    background-color: #fff;
    margin:  auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    
}
.principal {
    width: 90%;
    margin: auto;
    
}